
<div class="row">
  
  <div class="col m6 s12">
    {{#each undevouredBurgers }}
    <div class="card">
      <div class="row">
        <div class="col s12">
          <h4><strong>{{name}}</strong></h4>
          <p>{{devoured}}</p>
          <a class="eat-it waves-effect waves-light btn-small" data-id="{{{id}}}"><i class="material-icons right">arrow_forward</i>Tried it</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="col m6 s12">
    {{#each devouredBurgers}}
    <div class="card">
      <h5>{{name}}</h5>
      <p>{{devoured}}</p>
    </div>
    {{/each}}
  </div>

</div>

<div class="row">
  <div class="col s8 offset-s2">

    <form id="new-burger" class="center-align">
      <input id="burger-name" name="burger-name" type="text" placeholder="What burger have you been dying to try?">
      <button  class="btn waves-effect red">Submit</button>
    </form>

  </div>
</div>

<script>
  $('document').ready(() => { 

    $('.eat-it').on('click', function()  {
      let id = parseInt($(this).data('id'));
      $.ajax({
          url: '/burgers/' + id + '?devoured=true',
          type: 'PUT',
          data: id
        }).then((data) => {
          console.log('done');
          location.reload();
        });
    });

    $('#new-burger').on('submit', function() {
      event.preventDefault();

      let burger = {
        name: $('#burger-name').val().trim()
      };

      if(!burger.name) {
        console.log('No name.');
        return;
      }

      $.ajax({
          url: '/burgers',
          type: 'POST',
          data: burger
        }).then((data) => {
          location.reload();
        });
    });

  });
</script>